
@{
    ViewBag.Title = "Index";
    List<RealBusinessPage.Models.BORROWSet> loanList = ViewBag.LoanList;
    List<RealBusinessPage.Models.BOOKSet> BookList = ViewBag.BookList;
}

<h2>Index</h2>

<div>
    @for (int i = 0; i< loanList.Count; i++)
    {

        foreach (var obj in loanList)
        {
            @BookList[i].Title <text> - (Lasts:@obj.BorrowDate.Remove(10) Return: @obj.ToBeReturnedDate.Remove(10) <a href="/loan/renew?_username=@Session["personId"].ToString()&bookISBN=@obj.Borrowid">Renew loan</a> | <a href="/loan/delete/?_username=@Session["personId"].ToString()&bookISBN=@obj.Borrowid">Remove loan</a>)</text>
                <br />
            break;
        }
    }
</div>