
@{
    ViewBag.Title = "Create";
    RealBusinessPage.Models.Books bookObj = ViewBag.BookInfo;
}

<h2>Loan was successful!</h2>

<br /><br />
You have borrowed the book @bookObj.Title, congratulations!

