
@{
    ViewBag.Title = "Details";
    List<RealBusinessPage.Models.BORROWSet> loanList = ViewBag.LoanList;
    List<RealBusinessPage.Models.BORROWERSet> AccountList = ViewBag.AccountList;
    List<RealBusinessPage.Models.BOOKSet> BookList = ViewBag.BookList;
    string selectedUser = ViewBag.selectedUser;
}

<h2>@if (Session["level"].ToString() == "2") { <text> Users - Loans </text>}</h2>
<div>
    @if (Session["level"].ToString()=="2")
    {
        foreach( var obj in AccountList)
        {
            @obj.Username <text> - <a href="/account/Details?username=@obj.Username"> See Info</a> </text>

        }
    }

</div>


<h2>@if (ViewBag.selectedUser != null) {@selectedUser.ToString()} Loans</h2>
<div>
   @for (int i = 0; i < loanList.Count; i++)
   {

       foreach (var obj in loanList)
       {
        @BookList[i].Title <text> - (Lasts:@obj.BorrowDate.Remove(10) Return: @obj.ToBeReturnedDate.Remove(10) <a href="/loan/renew?_username=@Session["personId"].ToString()&bookISBN=@obj.Borrowid">Renew loan</a> | <a href="/loan/delete/?_username=@Session["personId"].ToString()&bookISBN=@obj.Borrowid">Remove loan</a>)</text>
        <br />
           break;
       }
   }
</div>

