
@{
    ViewBag.Title = "Details";
    RealBusinessPage.Models.Authors authorObj = ViewBag.AuthorInfo;
}

<h2>Details - @authorObj.FirstName @authorObj.LastName</h2>
<div>
    Birth Year: @authorObj.BirthYear
</div>
<br />
<br />
<br />
@if(Session["admin"] != null && Session["admin"].ToString() == "true")
{
    <text>Author ID: </text>@authorObj.AuthorId
    <br />
    <br /><a href="/author/create/">Create new author</a>
    <br /><a href="/author/edit/@authorObj.AuthorId">Edit this author</a>
    <br /><a href="/author/remove/@authorObj.AuthorId">Delete this author</a>
}


