@{
    ViewBag.Title = "Index";
    string error = @ViewBag.Message;
}

<h2>Index</h2>

@using (Html.BeginForm("Login", "login", FormMethod.Post))
{
    <table>
        <tr>
            <td>Username:</td>
            <td><input required type="text" name="Username" /></td>
        </tr>
        <tr>
            <td>Password:</td>
            <td><input required type="password" name="Password" /></td>
        </tr>

    </table>

    <br />
    <input type="submit" value="Log in" />
    <br />
    @error
}
<a href="/account/Create">Register</a>