
@{
    ViewBag.Title = "Create";
}

<h3>Create</h3>

@using (Html.BeginForm("Create", "book", FormMethod.Post))
{
    <table>
        <tr>
            <td>ISBN:</td>
            <td><input type="text" name="ISBN" required /></td>
        </tr>
        <tr>
            <td>Title:</td>
            <td><input type="text" name="Title" required /></td>
        </tr>
        <tr>
            <td>PublicationYear:</td>
            <td><input type="number" name="PublicationYear" /></td>
        </tr>
        <tr>
            <td>Description:</td>
            <td><input type="text" name="Description" /></td>
        </tr>
        <tr>
            <td>Pages:</td>
            <td><input type="number" name="Pages" /></td>
        </tr>
        <tr>
            <td>AuthorId:</td>
            <td><input type="number" name="AuthorId" /></td>
        </tr>
    </table>

    <br />
    <input type="submit" value="Create new book" />
}


